<ion-view title="{{currentDJ.title}}">
    <ion-content class="has-header">
        <div class="infoHeader">
            <img class="infoCover" ng-src="{{currentDJ.img}}">
            <h2>{{currentDJ.title}}</h2>
            <hr/>
            <h4>{{currentDJ.listeners}} current listeners</h4>
            <h4>{{currentDJ.views}} lifetime views</h4>
            <button class="button button-energized">
                Listen to DJ
            </button>
        </div>
        <hr/>
        <h3 class="infoDescriptionHeader">Genres Played</h3>
        <div class="infoWheel">
            <img class="wheel" ng-src="{{currentDJ.wheel}}">
        </div>
    </ion-content>
    <!--<player info="queueSongs" now="nowPlaying"></player>-->
</ion-view>
