<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="gridContainer">
          <div class="coverContainer" ng-repeat="gridSong in gridSongs">
              <div class="gridcell" data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                   ng-model="gridSongs" jqyoui-draggable="{index: {{$index}},placeholder:'keep',animate:true, onStart:'dragStartCallback()', onStop:'dragStopCallback()'}">
                  <img ng-src="{{gridSong.coverUrl}}" width="100" height="100">
                  <p>{{gridSong.name}}</p>
              </div>
          </div>
      </div>
  </ion-content>
  <player info="queueSongs"></player>
</ion-view>
