/* Empty. Add your own CSS if you like */

body {
    font-family: 'GenW01Light';
    font-weight: bold;
    font-style: normal;
}

.onTop {
    z-index: 20;
}

ion-content {

}

.artistInfoDropZone{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.dropZone {
    border: 3px solid red !important;
}

.gridContainer {
    background-image: url(background-transparent.png);
    background-size: cover;
}

.coverContainer {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.gridcell {
    border: 1px solid #B2CAE4;
    background-color: white;
    text-align: center;
    z-index: 20;
    padding: 2px;
}

.gridcell img {
    padding: 2px 2px 0px 2px;
}

.gridcell p {
    margin: 0 0 4px;
    line-height: 10px;
    font-size: 12px;
}

.bar-footer {
    height: auto !important;
}

.footer {
    position: fixed;
    border: 3px solid #457ab1;
    color: white;
    background-color: #457ab1;;
    left: 0;
    right: 0;
    bottom: 0;
}

.bar.bar-positive {
    background-color: #457ab1;
}

.currentSongContainer {
    float: left;
    width: 120px; /*Width of left column*/
}

.queueContainer {
    margin-left: 120px;

    display: block;
    margin-right: 4px;
}

.queue {
    position: relative;
    display: block;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.queueItem {
    display: inline-block;
    margin-left: 4px;
}

.infoHeader {
    padding-left: 190px;
    min-height: 180px;
}

.infoHeader img{
    width: 160px;
    position: absolute;
    left: 15px;
}

.infoHeader h2 {
    margin-top: 20px;
}

.infoDescription {
    margin-left: 20px;
}